In [1]:
import numpy as np

In [2]:
a = np.random.randint(1,100,15)
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [3]:
b = np.random.randint(1,100,24).reshape(6,4)
b

array([[89, 81, 31, 39],
       [69, 76, 21, 62],
       [53, 61, 66, 78],
       [73, 50, 55, 65],
       [80, 14, 75, 76],
       [80, 17, 88, 19]])

In [4]:
np.append(b, np.ones((b.shape[0], 1)), axis = 1)

array([[89., 81., 31., 39.,  1.],
       [69., 76., 21., 62.,  1.],
       [53., 61., 66., 78.,  1.],
       [73., 50., 55., 65.,  1.],
       [80., 14., 75., 76.,  1.],
       [80., 17., 88., 19.,  1.]])

In [5]:
np.append(b, np.random.random((b.shape[0], 1)), axis = 1)

array([[8.90000000e+01, 8.10000000e+01, 3.10000000e+01, 3.90000000e+01,
        3.23172886e-01],
       [6.90000000e+01, 7.60000000e+01, 2.10000000e+01, 6.20000000e+01,
        3.83591711e-01],
       [5.30000000e+01, 6.10000000e+01, 6.60000000e+01, 7.80000000e+01,
        4.04169199e-01],
       [7.30000000e+01, 5.00000000e+01, 5.50000000e+01, 6.50000000e+01,
        1.38121098e-01],
       [8.00000000e+01, 1.40000000e+01, 7.50000000e+01, 7.60000000e+01,
        6.78572065e-02],
       [8.00000000e+01, 1.70000000e+01, 8.80000000e+01, 1.90000000e+01,
        7.29597436e-01]])

In [6]:
np.sort(a)

array([ 2,  6,  8, 15, 22, 23, 25, 41, 44, 46, 68, 69, 72, 78, 94])

In [7]:
np.append(a, 200)

array([ 46,  94,  22,   8,  15,  44,   2,  69,  68,  23,  72,  41,  78,
         6,  25, 200])

In [8]:
np.sort(a)[::-1]

array([94, 78, 72, 69, 68, 46, 44, 41, 25, 23, 22, 15,  8,  6,  2])

In [9]:
np.sort(b)  # row wise sorting

array([[31, 39, 81, 89],
       [21, 62, 69, 76],
       [53, 61, 66, 78],
       [50, 55, 65, 73],
       [14, 75, 76, 80],
       [17, 19, 80, 88]])

In [10]:
np.sort(b, axis=0)  # column-wise sorting

array([[53, 14, 21, 19],
       [69, 17, 31, 39],
       [73, 50, 55, 62],
       [80, 61, 66, 65],
       [80, 76, 75, 76],
       [89, 81, 88, 78]])

In [11]:
c = np.arange(6).reshape(2,3)
d = np.arange(6,12).reshape(2,3)

In [12]:
c

array([[0, 1, 2],
       [3, 4, 5]])

In [13]:
d

array([[ 6,  7,  8],
       [ 9, 10, 11]])

In [14]:
np.concatenate((c,d))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [15]:
np.concatenate((c,d), axis=1)

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

In [16]:
e = np.array([1,1,2,2,2,3,3,3,4,4,4,5,5,6,6])

In [17]:
np.unique(e)

array([1, 2, 3, 4, 5, 6])

In [18]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [19]:
np.expand_dims(a, axis =0)

array([[46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25]])

In [20]:
a.shape

(15,)

In [21]:
np.expand_dims(a, axis =0).shape

(1, 15)

In [22]:
np.expand_dims(a, axis =1).shape

(15, 1)

In [23]:
np.expand_dims(a, axis =1)

array([[46],
       [94],
       [22],
       [ 8],
       [15],
       [44],
       [ 2],
       [69],
       [68],
       [23],
       [72],
       [41],
       [78],
       [ 6],
       [25]])

In [24]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [25]:
# find all indices with value greater than 50

np.where(a > 50)

(array([ 1,  7,  8, 10, 12], dtype=int64),)

In [26]:
# replace all values > 50 with 0

np.where(a > 50, 0, a)

array([46,  0, 22,  8, 15, 44,  2,  0,  0, 23,  0, 41,  0,  6, 25])

In [27]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [28]:
np.where(a % 2 == 0, 0, a)

array([ 0,  0,  0,  0, 15,  0,  0, 69,  0, 23,  0, 41,  0,  0, 25])

In [29]:
## the numpy.argmax() function returns indices of the max element of the array in a particular axis

In [30]:
np.argmax(a)

1

In [31]:
b

array([[89, 81, 31, 39],
       [69, 76, 21, 62],
       [53, 61, 66, 78],
       [73, 50, 55, 65],
       [80, 14, 75, 76],
       [80, 17, 88, 19]])

In [32]:
np.argmax(b)

0

In [33]:
np.argmax(b, axis = 0)  # column wise

array([0, 0, 5, 2], dtype=int64)

In [34]:
np.argmax(b, axis = 1)  # row wise

array([0, 1, 3, 0, 0, 2], dtype=int64)

In [35]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [36]:
np.argmin(a)

6

In [37]:
b

array([[89, 81, 31, 39],
       [69, 76, 21, 62],
       [53, 61, 66, 78],
       [73, 50, 55, 65],
       [80, 14, 75, 76],
       [80, 17, 88, 19]])

In [38]:
np.argmin(b)  # index position of min value

17

In [39]:
np.argmin(b, axis = 0)

array([2, 4, 1, 5], dtype=int64)

In [40]:
np.argmin(b, axis = 1)

array([2, 2, 0, 1, 1, 1], dtype=int64)

In [41]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [42]:
np.cumsum(a)

array([ 46, 140, 162, 170, 185, 229, 231, 300, 368, 391, 463, 504, 582,
       588, 613], dtype=int32)

In [43]:
b

array([[89, 81, 31, 39],
       [69, 76, 21, 62],
       [53, 61, 66, 78],
       [73, 50, 55, 65],
       [80, 14, 75, 76],
       [80, 17, 88, 19]])

In [44]:
np.cumsum(b)

array([  89,  170,  201,  240,  309,  385,  406,  468,  521,  582,  648,
        726,  799,  849,  904,  969, 1049, 1063, 1138, 1214, 1294, 1311,
       1399, 1418], dtype=int32)

In [45]:
np.cumsum(b, axis = 0)  # column wise

array([[ 89,  81,  31,  39],
       [158, 157,  52, 101],
       [211, 218, 118, 179],
       [284, 268, 173, 244],
       [364, 282, 248, 320],
       [444, 299, 336, 339]], dtype=int32)

In [46]:
np.cumsum(b, axis = 1)  # row wise

array([[ 89, 170, 201, 240],
       [ 69, 145, 166, 228],
       [ 53, 114, 180, 258],
       [ 73, 123, 178, 243],
       [ 80,  94, 169, 245],
       [ 80,  97, 185, 204]], dtype=int32)

In [47]:
np.cumprod(a)

array([         46,        4324,       95128,      761024,    11415360,
         502275840,  1004551680,   594589184,  1777358848, -2070419456,
        1253654528,  -139771904,  1982693376,  -988741632,  1051262976],
      dtype=int32)

In [48]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [49]:
np.percentile(a, 100)

94.0

In [50]:
np.percentile(b,100)

89.0

In [51]:
np.percentile(a, 0)

2.0

In [52]:
np.percentile(b, 0)

14.0

In [53]:
np.percentile(a,50)

41.0

In [54]:
np.percentile(b, 50)

65.5

In [55]:
np.median(a)

41.0

In [56]:
np.median(b)

65.5

In [57]:
# numpy has a built in numpy.histogram() function which represents the frequency of data distribution in the graphical form

In [58]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [59]:
np.histogram(a)

(array([3, 1, 3, 0, 3, 0, 0, 3, 1, 1], dtype=int64),
 array([ 2. , 11.2, 20.4, 29.6, 38.8, 48. , 57.2, 66.4, 75.6, 84.8, 94. ]))

In [60]:
np.histogram(a, bins = [0,10,20,30,40,50,60,70,80,90,100])

(array([3, 1, 3, 0, 3, 0, 2, 2, 0, 1], dtype=int64),
 array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100]))

In [61]:
salary = np.array([20000, 40000,25000, 35000, 60000])
experience = np.array([1,3,2,4,2])

np.corrcoef(salary, experience)

array([[1.        , 0.25344572],
       [0.25344572, 1.        ]])

In [63]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [67]:
items = [10,25,30,40,50,60,70,80,90,100]

In [68]:
np.isin(a, items)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True])

In [69]:
a[np.isin(a, items)]

array([25])

In [70]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [71]:
np.flip(a)

array([25,  6, 78, 41, 72, 23, 68, 69,  2, 44, 15,  8, 22, 94, 46])

In [73]:
a[::-1]

array([25,  6, 78, 41, 72, 23, 68, 69,  2, 44, 15,  8, 22, 94, 46])

In [74]:
b

array([[89, 81, 31, 39],
       [69, 76, 21, 62],
       [53, 61, 66, 78],
       [73, 50, 55, 65],
       [80, 14, 75, 76],
       [80, 17, 88, 19]])

In [75]:
np.flip(b)

array([[19, 88, 17, 80],
       [76, 75, 14, 80],
       [65, 55, 50, 73],
       [78, 66, 61, 53],
       [62, 21, 76, 69],
       [39, 31, 81, 89]])

In [76]:
np.flip(b, axis = 0)

array([[80, 17, 88, 19],
       [80, 14, 75, 76],
       [73, 50, 55, 65],
       [53, 61, 66, 78],
       [69, 76, 21, 62],
       [89, 81, 31, 39]])

In [78]:
b

array([[89, 81, 31, 39],
       [69, 76, 21, 62],
       [53, 61, 66, 78],
       [73, 50, 55, 65],
       [80, 14, 75, 76],
       [80, 17, 88, 19]])

In [77]:
np.flip(b, axis = 1)

array([[39, 31, 81, 89],
       [62, 21, 76, 69],
       [78, 66, 61, 53],
       [65, 55, 50, 73],
       [76, 75, 14, 80],
       [19, 88, 17, 80]])

In [79]:
a

array([46, 94, 22,  8, 15, 44,  2, 69, 68, 23, 72, 41, 78,  6, 25])

In [80]:
# replace muliple items in array

np.put(a, [0,1], [400,300])

In [81]:
a

array([400, 300,  22,   8,  15,  44,   2,  69,  68,  23,  72,  41,  78,
         6,  25])

In [82]:
np.delete(a, [0])

array([300,  22,   8,  15,  44,   2,  69,  68,  23,  72,  41,  78,   6,
        25])

In [83]:
a

array([400, 300,  22,   8,  15,  44,   2,  69,  68,  23,  72,  41,  78,
         6,  25])

In [85]:
np.delete(a,[0,2,4])

array([300,   8,  44,   2,  69,  68,  23,  72,  41,  78,   6,  25])

In [86]:
# set functions

In [87]:
m = np.array([1,2,3,4,5])
n = np.array([3,4,5,6,7])

np.union1d(m,n)

array([1, 2, 3, 4, 5, 6, 7])

In [88]:
np.intersect1d(m,n)

array([3, 4, 5])

In [89]:
np.setdiff1d(m,n)

array([1, 2])

In [90]:
np.setdiff1d(n,m)

array([6, 7])

In [91]:
np.setxor1d(m,n)

array([1, 2, 6, 7])

In [93]:
m

array([1, 2, 3, 4, 5])

In [92]:
np.in1d(m, 1)

array([ True, False, False, False, False])

In [94]:
m[np.in1d(m, 1)]

array([1])

In [95]:
a

array([400, 300,  22,   8,  15,  44,   2,  69,  68,  23,  72,  41,  78,
         6,  25])

In [96]:
np.clip(a, a_min = 25, a_max= 75)

array([75, 75, 25, 25, 25, 44, 25, 69, 68, 25, 72, 41, 75, 25, 25])